---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Classifica Ficuz 2026" } = Astro.props;
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gray-100 pb-[env(safe-area-inset-bottom)]">
    <slot />
  </body>
</html>
